## Training the ML Models

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor,ExtraTreesRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn.model_selection import train_test_split

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("new_modifs.csv")  # reading normalized dataset
df.head()

   Item_Weight  Item_Fat_Content  ...  Outlet_Type  Item_Outlet_Sales
0    -0.831187                 0  ...            0          3735.1380
1    -1.630810                 1  ...            3           443.4228
2     1.108727                 0  ...            0          2097.2700
3     1.510904                 1  ...            1           732.3800
4    -0.918719                 0  ...            0           994.7052

[5 rows x 11 columns]

In [ ]:
df1=df.copy()

In [ ]:
df1.drop("Item_Outlet_Sales",inplace=True,axis=1)

In [ ]:
x=df1
y=df["Item_Outlet_Sales"]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.2)

In [ ]:
dictionary={}

### Creating a class for all ML models

In [ ]:
def models(name):            # 
  st=str(name)
  name.fit(x_train,y_train)
  y_pred=name.predict(x_test)
  mae=mean_absolute_error(y_pred,y_test)
  print(mae,"is the mean absolute error for",st.split("(")[0],"\n")
  print("-------------------------------------------------------")
  dictionary[st.split("(")[0]]=mae

In [ ]:
lr=LinearRegression()
rfr=RandomForestRegressor(random_state=42)
ext=ExtraTreesRegressor(random_state=42)

In [ ]:
models(lr)
models(rfr)
models(ext)

861.2842449751568 is the mean absolute error for LinearRegression

-------------------------------------------------------
754.1677172997067 is the mean absolute error for RandomForestRegressor

-------------------------------------------------------
771.7872063906158 is the mean absolute error for ExtraTreesRegressor

-------------------------------------------------------

In [ ]:
rft=RandomForestRegressor(n_estimators=250,min_samples_leaf=1,min_samples_split=140,random_state=42)
models(rft)

717.2639860830532 is the mean absolute error for RandomForestRegressor

-------------------------------------------------------

In [ ]:
rft1=ExtraTreesRegressor(n_estimators=250,min_samples_leaf=1,min_samples_split=140,random_state=42)
models(rft1)

712.7600529932643 is the mean absolute error for ExtraTreesRegressor

-------------------------------------------------------

### Pickling the ML models

In [ ]:
import joblib
import pickle

In [ ]:
filename = 'treex.pkl'           # Dumping the pickled model in treex.pkl
pickle.dump(rft1, open(filename, 'wb'))

In [ ]:
me=pickle.load(open(filename,"rb"))

In [ ]:
print(me.predict(x_test)[:5])
print(y_test[:5])

[1223.60459888  725.20074007  702.7906977  4687.94435532 3241.59812471]
7503    1743.0644
2957     356.8688
7031     377.5086
1084    5778.4782
856     2356.9320
Name: Item_Outlet_Sales, dtype: float64